input {
  rabbitmq {
    host => "${AMQP_HOST}"
    password => "${AMQP_PASSWORD}"
    user => "${AMQP_USER}"
    port => "${AMQP_PORT}"
    vhost => "${AMQP_VHOST}"

    queue => "${AMQP_QUEUE}"

    key => "${AMQP_KEY}"

    passive => false

    tags => ["${LOGGLY_TAG}"]

    exchange => "logstash"
    threads => 10
  }
}

// Clone the @timestamp fielf from gelf as 'timestamp'
filter {
  if [type] == "gelf" {
    ruby {
      code => "event['timestamp'] = event['@timestamp']"
    }
  }
}
