output {
  rabbitmq {
    host => "${AMQP_HOST}"
    password => "${AMQP_PASSWORD}"
    user => "${AMQP_USER}"
    port => "${AMQP_PORT}"
    vhost => "${AMQP_VHOST}"

    key => "${AMQP_KEY}"

    exchange => "logstash"
    exchange_type => "direct"
    workers => 5
  }
}
